/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
   
    }

} // end header

a {
    color: black;

    font-size: 0.75rem;
}


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */














/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: black;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;

    }
}// end main
.swiper-wrapper {
    display: flex;
    /* Enable horizontal scrolling of the slides */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure swiper slides take full width */
}

.swiper-slide picture,
.swiper-slide img {
    width: 100%; /* Make sure the image scales */
    height: auto; /* Maintain the aspect ratio */
    display: block;
}


/* To ensure images inside the swiper are responsive */
.swiper-slide img {
    width: 100%; /* Ensure the image takes up the full width of the slide */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any inline spacing from images */
}


.swiper, .swiper img {
    width: 100%;
    height: auto;
    position: relative;
  }
  img {
    max-width: 100%; /* This ensures the image doesn't overflow its container */
    height: auto; /* Keeps the aspect ratio */
    display: block; /* Removes any unwanted gaps below the image */
    box-sizing: border-box;
}

div.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    section {
        padding: 7px;
        img {
            width: 100%;
            height: auto;
            clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
            transition: transform 1s;
            &:hover {transform: rotate(15deg);}
        }
        p {

        }
    } //end section
} //end parent






/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer




.overlay {
    position: absolute;
    font-size: 1.5rem;
    margin: 0;
    z-index: 9999;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background:  rgba(255,255,255,.8);

    
}


div.parent2 {
    margin: 0 $gutter;
    display: grid;

    section {
        margin: 1rem 0;
        padding: 1rem;
    
    border-radius: 10px;
    overflow: hidden;

        position: relative;
        h2{      background-color: rgb(165, 181, 227);
            font-size: 1.2rem;
            color: rgb(17, 38, 103);
            margin: 0;}
        img {
            width:100%;
            height: auto;
            display: block;
            padding: 1rem $gutter;
            text-align: center;

        }
        img:last-child {
            position: absolute;
            bottom: 0;
        }
        img.e2e {
            padding: 0;
      
      
          }
              a {
      display: block;
      background-color: rgb(55, 86, 180);
      padding: .75rem;
      text-align: center;
      margin: 0 3rem 1rem;
      border-radius: 8px;
      color: white;
      text-decoration: none;
    }
    }
}

    #theNav {
        padding: 0.5rem;
        li {
            padding: 10px;
        }
    }