$primaryColor: #1d5f3e; 
$secondaryColor: #c9b729;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;